<div class="dropdown-container">
  <div class="dropdown-header" (click)="toggleDropdown()">
    <div class="items-wrapper">
      <ng-container
      *ngIf="!multiple"
      [ngTemplateOutlet]="selectedItemRef"
    ></ng-container>
    <!-- <ng-container
      *ngIf="multiple"
      [ngTemplateOutlet]="selectedItemsRef"
    > 
      <ng-container *ngIf="!selectedItems.length" [ngTemplateOutlet]="selectedItemsIsEmptyRef"></ng-container>
    </ng-container> -->
    <ng-template #selectedItemRef>{{
      selectedItem ? selectedItem.label : "Select an option"
    }}</ng-template>
    <ng-container *ngIf="multiple">
      <ng-container *ngIf="!selectedItems.length">
        <span>Select an option</span>
      </ng-container>
      <ng-container *ngIf="selectedItems.length">
        <span
          class="multiple-selected-item"
          *ngFor="let element of selectedItems"
        >
          <span class="multiple-selected-item-text">{{ element.label }}</span>
          <span
            class="multiple-selected-item-remove"
            (click)="$event.stopPropagation(); removeItem(element)"
            >x</span
          >
        </span>
      </ng-container>
    </ng-container>
    </div>
    <div class="btns-wrapper">
      <button
        *ngIf="selectedItem"
        class="clear-button"
        (click)="clearSelection($event)"
      >
        ✕
      </button>
      <i class="pi pi-chevron-down"></i>
    </div>
  </div>

  <!-- Dropdown Content -->
  <div class="dropdown-panel" *ngIf="isDropdownOpen">
    <!-- Search Input -->
    <div class="search-container">
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (input)="onFilterChange()"
        class="input-field"
        required
      />
    </div>

    <!-- Virtual Scroll with Lazy Loading -->
    <cdk-virtual-scroll-viewport
      *ngIf="!group && !multiple"
      [itemSize]="itemSize"
      class="virtual-scroll-viewport"
      (scrolledIndexChange)="onScroll($event)"
    >
      <div
        *cdkVirtualFor="let item of filteredItems"
        class="dropdown-item"
        [ngClass]="item.isSelected ? 'highlight' : ''"
        (click)="selectItem(item)"
      >
        {{ item.label }}
      </div>
      <div *ngIf="loading" class="loading-spinner">
        <p-progressSpinner
          strokeWidth="4"
          class="spinner-sm"
        ></p-progressSpinner>
      </div>
    </cdk-virtual-scroll-viewport>

    <!-- multiple Virtual Scroll with Lazy Loading -->
    <cdk-virtual-scroll-viewport
      *ngIf="!group && multiple"
      [itemSize]="itemSize"
      class="virtual-scroll-viewport"
      (scrolledIndexChange)="onScroll($event)"
    >
      <div
        *cdkVirtualFor="let item of filteredItems; let i = index"
        class="dropdown-item"
        [ngClass]="item.isSelected ? 'highlight' : ''"
        (click)="selectMultipleItem(item, $event)"
      >
        <input
          [disabled]="loading"
          id="item-{{ i }}"
          (click)="selectMultipleItem(item, $event)"
          type="checkbox"
          [ngModel]="item.isSelected"
        />
        <label for="item-{{ i }}">{{ item.label }}</label>
      </div>
      <div *ngIf="loading" class="loading-spinner">
        <p-progressSpinner
          strokeWidth="4"
          class="spinner-sm"
        ></p-progressSpinner>
      </div>
    </cdk-virtual-scroll-viewport>

    <!-- Virtual Scroll with Grouping -->
    <cdk-virtual-scroll-viewport
      *ngIf="group"
      [itemSize]="itemSize"
      class="virtual-scroll-viewport"
      (scrolledIndexChange)="onScroll($event)"
    >
      <ng-container *ngFor="let group of groupedItems">
        <!-- Group Header -->
        <div class="dropdown-group-header">
          {{ group.header }}
        </div>
        <!-- Group Items -->
        <div
          *ngFor="let item of group.items"
          class="dropdown-item"
          [ngClass]="item.isSelected ? 'highlight' : ''"
          (click)="selectItem(item)"
        >
          {{ item.label }}
        </div>
      </ng-container>
      <div *ngIf="loading" class="loading-spinner">
        <p-progressSpinner
          strokeWidth="4"
          class="spinner-sm"
        ></p-progressSpinner>
      </div>
    </cdk-virtual-scroll-viewport>

    <!-- Loading Spinner -->
  </div>
</div>

<br />
<hr />
<br />

<span>{{ selectedItem | json }}</span>
